
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

//Iconos
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// Variables
@import "variables";
//Color
$primary: blue;
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h-screen{
	height:100vh;
}

.btn-facebook, .btn-twitter, .btn-google{
	&:hover, &:active, &:focus{
	color: white;
	}
}

.btn-facebook{
	background-color: #3b5998;
	color: white;
	padding:6px 18px;
}
.btn-twitter{
	background-color: #1da1f2;
	color: white;
	padding:6px 18px;
}
.btn-google{
	background-color: #ea4335;
	color: white;
	padding:6px 18px;
}
.center-text {
    vertical-align: text-bottom;
}

.derecha
{
	float:right
}
.izquierda
{
	float:left
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #34465d;
    background-color: rgba(56, 178, 172, 1);
}
/*estilo para el boton */

.btn-outline-primary {
  color: #38b2ac;
  border-color: #34465d;
}
.espacio{
	top:0.3em;
}
.espacio2{
	top:-0.5em;
}
.pie{

    position:absolute;
    bottom:0px;
    width:100%;
    font-size:0.7em;
    margin-bottom:15px;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
/* cambiar el color de fondo a la barra */
.navbar.navbar-default {
    background-color: #34465d;
}



